body{
    font-family: 'Lato', sans-serif;
}
ul li{
    list-style:none;
}
.main-container {
    color: #ffffff;
}
.navbar-wrapper .navbar .container {
    width: auto;
    height: 88px;
    width: 1170px;
}
.navbar-wrapper{
    margin-top: 0;
}
.navbar-inverse {
    background-color: #333333;
    border-color: #080808;
}
.navbar-nav>li:hover{
    background-color: #d80a02;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color: transparent;
    color:white;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
    padding-top: 18px;
}
.navbar-brand {
    float: left;
    height: auto;
    padding: 19px 15px 0px 15px;
    font-size: 18px;
    line-height: 20px;
}
.higlight-menu-item{
    background-color:#000000;
}
.main-container{
    background-color:#d80a02;
    padding:40px 0;
}
.second-container{
    color:white;
    background: #333333;
    padding: 40px 0;
}
.main-container .marketing .col-lg-2 div{
    position:relative;
    min-height:180px;
    background:#333333;
}
.main-container .marketing .col-lg-2{
    padding:20px;
    
}
.main-container .marketing .col-lg-2:first-child{
    padding-left: 0
}
.main-container .marketing .col-lg-2:last-child{
    padding-right: 0
}
.main-container .marketing .col-lg-2 a{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    text-align:center;
    padding-top:20px;
    opacity: 0;
    transition:all 0.3s ease-in;
}
.main-container .marketing .col-lg-2 a:hover{
    opacity:1;

}
.main-container .marketing .col-lg-2 a i{
    color:rgba(255,255,255,0.7);
    transition:all 0.3s ease-in;
}
.main-container .marketing .col-lg-2 a i.active{
   transform: rotate(45deg);
}
.main-container .marketing .col-lg-2 img{
    width:100%;
    display:block;
}
.main-container .marketing h2{
    text-align:center;
    font-size:19px;
    text-transform: uppercase;
    padding:10px 0;
    margin: 17px 0 0 0;
}
.main-container .marketing h1{
    text-align:center;
}
marketing h1{
        text-align: center;
    font-size: 50px;
    padding-bottom: 38px;
}
.hidden-item{
    background:#333333;
    height:0;
    opacity: 0;
    transition:all 0.3s ease-in;
    overflow:hidden;
}
.hidden-item.visible-item{
    opacity: 1;
    height:700px;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #d80a02;
    border-color: #d80a02;
}
.btn-primary{
   background-color: #d80a02;
}